# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary Directories
[Oo]ut/
[Bb]uild/
[Bb]in/
[Ii]nstall/

# IDE Files and Folders
compile_commands.json
.vs
.vscode
.cache
.idea

# Platform Specific Files
.DS_Store

# User Specifc Files
CMakeUserPresets.json
